@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Encode+Sans+Condensed&family=Sacramento&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sacramento&display=swap'); */
*{
    margin:0;
    padding: 0;
    font-family: 'Encode Sans Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(150deg,#14b0b6,#9e3674,rgb(117, 19, 19));
    color: #ffff;
     min-height: 100vh;
}
h1{
    font-size: 2rem;
    text-transform: capitalize;
}
